{% extends 'base.html' %}

{% block main %}
   

<!-- Post -->	
	<article class="box post post-{{ post.pk }}">							
		<header>								
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
			<p>
				<a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
				
			</p>
		</header>
		<div class="info">
			<span class="date"><span class="month">{{ post.get_month}}<span>y</span></span> <span class="day">{{ post.get_day }}</span><span class="year">, {{ post.get_year}}</span></span>
			<ul class="stats">
				<li><a href="{{ post.get_absolute_url }}" class="icon solid fa-book">{{ post.views }} </a></li>
				<li><a href="{{ post.get_absolute_url }}" class="icon fa-heart">{{ post.comment_set.count }}</a></li>
				<li><a href="{{ post.get_absolute_url }}#comment-area" class="icon fa-comment">{{ post.comment_set.count }}</a></li>
				
			</ul>
		</div>		
		<div>
			{{ post.body|safe }}
		</div>
	</article>
	<section class="comment-area" id="comment-area">
        <hr>
        <h2>发表评论</h2>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="{{ form.name.id_for_label }}">昵称</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.email.id_for_label }}">邮箱（可不填）</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                
                <div class="col-md-12">
                    <label for="{{ form.text.id_for_label }}">评论</label>
                    {{ form.text }}
                    {{ form.text.errors }}
                    <button type="submit" class="">发表</button>
                </div>
            </div>    <!-- row -->
        </form>
        <div class="comment-list-panel">
            <h2>评论列表，共 <span>{{ post.comment_set.count }}</span> 条评论</h2>
            <ul class="comment-list list-unstyled">
                {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date"
                              datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </li>
                {% empty %}
                    暂无评论
                {% endfor %}
            </ul>
        </div>
    </section>


{% endblock main %}

{% block toc %}
	
    <section class="box text-style1">
        <header>
			<h2>目录</h2>
		</header>
        {{ post.toc|safe }}
    </section>
{% endblock toc %}