{% extends 'base.html' %}

{% block main %}

	{% if error_msg %}
		<p>{{ error_msg }}</p>
	{% endif %}
	
<!-- Post -->
	{% for post in post_list %}
	<article class="box post post-excerpt">							
		<header>								
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
			<p>
				<a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
				
			</p>
		</header>
		<div class="info">
			<span class="date"><span class="month">{{ post.get_month}}<span>y</span></span> <span class="day">{{ post.get_day }}</span><span class="year">, {{ post.get_year}}</span></span>
			<ul class="stats">
				<li><a href="{{ post.get_absolute_url }}" class="icon solid fa-book">{{ post.views }} </a></li>
				<li><a href="{{ post.get_absolute_url }}" class="icon fa-heart">{{ post.comment_set.count }}</a></li>
				<li><a href="{{ post.get_absolute_url }}#comment-area" class="icon fa-comment">{{ post.comment_set.count }}</a></li>
				
			</ul>
		</div>
		<a href={{ post.firstimage }} class="image featured"><img src={{ post.firstimage }} alt="" /></a>
		<p>
			{{ post.excerpt|safe }}...
		</p>
	</article>
	{% empty %}
		<div class="no-post">暂时还没有发布的文章！</div>
	{% endfor %}

	<!-- Pagination -->
	{% if is_paginated %}
	<div class="pagination">
		<!--<a href="#" class="button previous">Previous Page</a>-->
		<div class="pages">
			<ul>
			{% if first %}
				<a href="?page=1">1</a>
			{% endif %}
			{% if left %}
				{% if left_has_more %}
					<span>&hellip;</span>
				{% endif %}
				{% for i in left %}
					<a href="?page={{ i }}">{{ i }}</a>
				{% endfor %}
			{% endif %}								
				<a class="active" href="?page={{ page_obj.number }}" >{{ page_obj.number }}</a>								
			{% if right %}
				{% for i in right %}										
						<a href="?page={{ i }}">{{ i }}</a>										
				{% endfor %}
				{% if right_has_more %}
					<span>&hellip;</span>
				{% endif %}
			{% endif %}
			{% if last %}									
					<a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>									
			{% endif %}
			</ul>
		</div>
		
	</div>
	{% endif %}
	
{% endblock main %}
